body {
  background: url("../images/cloudy-sky.jpg");
  background-repeat: none;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
header {
  text-align: center;
}
header h2 {
  font-size: 20px;
}

.container {
  margin: 0 20px;
}
.box {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  margin: 100px auto;
  padding: 30px;
}
.weather-top,
.weather-bottom {
  text-align: center;
  margin: 10px 0;
}
.today {
  border-radius: 30%;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 0;
}
.today h1 {
  font-size: 60px;
}
.today h2 {
  font-size: 55px;
}
.today h3 {
  font-size: 30px;
  position: relative;
  top: 0;
}
.temp {
  font-size: 20px;
  position: relative;
  top: -25px;
}
.temp a {
  color: black;
}
.data {
  margin: 0 auto;
  padding: 50px 0;
  border-left: 1.5px solid #dee2e6 !important;
}
.day {
  border-radius: 40%;
  padding: 30px;
  margin: 20px 0 0 0;
}
.day h1 {
  font-size: 25px;
}
.day h2 {
  font-size: 50px;
}
.day p {
  font-size: 12px;
}
